
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="box-feature mb-4">
                    <span class="flaticon-house mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold">
                        Gayrimenkul Satışı
                    </h3>
                    <p class="text-black-50">
                        Size uygun evi bulmak artık daha kolay! Geniş bir gayrimenkul portföyümüzle, hayalinizdeki konuta en hızlı ve en etkili şekilde ulaşmanızı sağlıyoruz. Sizin için en iyi seçenekleri keşfetmek için buradayız.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                <div class="box-feature mb-4">
                    <span class="flaticon-house-2 mb-4 d-block-3"></span>
                    <h3 class="text-black mb-3 font-weight-bold">Kiralık Emlak Hizmetleri</h3>
                    <p class="text-black-50">
                        Yeni bir eve veya işyerine taşınmak istiyorsanız, size uygun kiralık gayrimenkul seçeneklerini bulmak için buradayız. Uzun vadeli veya kısa vadeli, modern veya geleneksel, ihtiyaçlarınıza en uygun olanı keşfedin.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
                <div class="box-feature mb-4">
                    <span class="flaticon-building mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold">
                        Değerleme & Danışmanlık
                    </h3>
                    <p class="text-black-50">
                        Gayrimenkul yatırımınızın değerini doğru bir şekilde belirlemek için uzmanlarımızla tanışın. Piyasa analizi, mülkünüzün değerini artırmak için stratejiler ve doğru adımlar konusunda size rehberlik ediyoruz.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
                <div class="box-feature mb-4">
                    <span class="flaticon-house-3 mb-4 d-block-1"></span>
                    <h3 class="text-black mb-3 font-weight-bold">Emlak Yönetimi</h3>
                    <p class="text-black-50">
                        Kiralık mülkünüzü güvenle ve etkin bir şekilde yönetmek için bize güvenebilirsiniz. Kiracılarınızla iletişim kurmaktan, bakım ve onarımları organize etmeye kadar her aşamada yanınızdayız. Mülkünüzün yönetilmesini sağlayın.
                    </p>
                </div>
            </div>

            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="box-feature mb-4">
                    <span class="flaticon-house-4 mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold">
                        Satış ve Kiralamada Pazarlama
                    </h3>
                    <p class="text-black-50">
                        Gayrimenkulünüzü geniş kitlelere ulaştırmak için etkili pazarlama stratejilerimizle size destek oluyoruz. Profesyonel fotoğrafçılık ve dijital reklam kampanyalarıyla mülkünüzü potansiyel alıcı ve kiracılara tanıtıyoruz.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                <div class="box-feature mb-4">
                    <span class="flaticon-building mb-4 d-block-3"></span>
                    <h3 class="text-black mb-3 font-weight-bold">Emlak Hukuku Danışmanlığı</h3>
                    <p class="text-black-50">
                        Emlak işlemleri sırasında karşılaşılan hukuki konuları çözmek için size profesyonel danışmanlık hizmeti sunuyoruz. Sözleşmelerden mülk devirlerine kadar her adımda size güvenli bir rehberlik sağlıyoruz ve yanınızda oluyoruz.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
                <div class="box-feature mb-4">
                    <span class="flaticon-house mb-4 d-block"></span>
                    <h3 class="text-black mb-3 font-weight-bold">
                        Finansman ve Kredi Hizmetleri
                    </h3>
                    <p class="text-black-50">
                        Gayrimenkul yatırımınızı finanse etmek için size uygun seçenekler sunuyoruz. Kredi başvurusu sürecinde sizinle birlikte adım adım ilerliyor ve en uygun kredi fırsatlarını keşfetmenize destek oluyoruz.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
                <div class="box-feature mb-4">
                    <span class="flaticon-house-1 mb-4 d-block-1"></span>
                    <h3 class="text-black mb-3 font-weight-bold">Yerleşim Hizmetleri</h3>
                    <p class="text-black-50">
                        Yeni bir eve veya işyerine taşınırken size lojistik destek sağlıyoruz. İhtiyaçlarınıza uygun konut seçeneklerini bulmanıza yardımcı olmanın yanı sıra, taşınma sürecindeki zorlukları hafifletmek için yanınızdayız.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("_HomeTestimonialsPartialComponent")