@model ResultCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="page-title">Kategoriler</h4>
<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<div class="card-title">Kategori Güncelleme İşlemi</div>
			</div>
			<form method="post" asp-area="Admin" asp-controller="Category" asp-action="UpdateCategory">
				<div class="card-body">
					<input type="hidden" asp-for="CategoryID" />
					<div class="form-group">
						<label for="name">Kategori Adı</label>
						<input asp-for="Name" type="text" class="form-control" id="name" placeholder="Kategori Adı">
						<span class="text-danger" asp-validation-for="Name"></span>
					</div>
					<div class="form-group">
						<label for="status">Kategori Durumu</label>
						<select asp-for="Status" class="form-control" id="status">
							<option value="True">Aktif</option>
							<option value="False">Pasif</option>
						</select>
						<span class="text-danger" asp-validation-for="Status"></span>
					</div>
				</div>
				<div class="card-action">
					<button type="submit" class="btn btn-success">Güncelle</button>
					<a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-danger">Vazgeç</a>
				</div>
			</form>
		</div>
	</div>
</div>