<div class="section section-4 bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-5">
                <h2 class="font-weight-bold heading text-primary mb-4">
                    Gelin size en uygun evi bulalım!
                </h2>
                <p class="text-black-50">
                    Hayalinizdeki evi bulmak artık çok daha kolay! Çolakoğlu Emlak olarak, sizin için en uygun evi bulmak ve hayallerinizi gerçeğe dönüştürmek için buradayız. Profesyonel ekibimiz, ihtiyaçlarınızı ve beklentilerinizi dikkate alarak size en uygun evi bulmanıza yardımcı olacak.
                </p>
            </div>
        </div>
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
                <div class="img-about dots">
                    <img src="/EstateThema/images/hero_bg_2.jpg" alt="Image" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-home2"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Üstün Müşteri Hizmeti</h3>
                        <p class="text-black-50">
                            Siz değerli müşterilerimize en iyi hizmeti sunmak için buradayız. Profesyonel ve samimi yaklaşımımızla, ev arama sürecinizi keyifli hale getireceğiz.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-person"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Uzman Emlak Danışmanları</h3>
                        <p class="text-black-50">
                            En iyi emlak yatırımı için size rehberlik edecek profesyonel ve uzman bir ekibe sahibiz. Hayallerinizi gerçeğe dönüştürmek için buradayız!
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-security"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Güvenilir Emlak Seçenekleri</h3>
                        <p class="text-black-50">
                            Çolakoğlu Emlak, güvenilir gayrimenkul seçenekleriyle bilinir. Sizin için en uygun evi bulmak için geniş bir portföyümüz ve deneyimli emlak danışmanlarımızla buradayız.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>