<div class="section sec-testimonials">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-md-6">
                <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
                    Müşterimiz Diyor ki
                </h2>
            </div>
            <div class="col-md-6 text-md-end">
                <div id="testimonial-nav">
                    <span class="prev" data-controls="prev">Geri</span>

                    <span class="next" data-controls="next">İleri</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
        </div>
        <div class="testimonial-slider-wrap">
            <div class="testimonial-slider">
                <div class="item">
                    <div class="testimonial">
                        <h3 class="h5 text-primary mb-4">Ayşe Yılmaz</h3>
                        <div class="rate mb-2">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <blockquote>
                            <p>
                                &ldquo;Çolakoğlu Emlak, hayalimdeki evi bulmamı sağladı! Profesyonel ve samimi hizmetleriyle beni her adımda yönlendirdiler. Kendilerine teşekkür ederim!&rdquo;
                            </p>
                        </blockquote>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <h3 class="h5 text-primary mb-4">Mehmet Kaya</h3>
                        <div class="rate mb-2">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <blockquote>
                            <p>
                                &ldquo;Kiralamak istediğim işyerini bulmak için Çolakoğlu Emlak'ı tercih ettim ve doğru bir karar verdiğimi anladım. Hızlı ve güvenilir hizmetleri sayesinde aradığımı buldum!&rdquo;
                            </p>
                        </blockquote>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <h3 class="h5 text-primary mb-4">Zeynep Yıldırım</h3>
                        <div class="rate mb-2">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <blockquote>
                            <p>
                                &ldquo;Çolakoğlu Emlak, gayrimenkul yatırımlarımda bana güvenilir bir rehberlik sağladı. Uzman ekibi sayesinde en uygun fiyatlı ve değerli gayrimenkulleri keşfetmemi sağladılar.&rdquo;
                            </p>
                        </blockquote>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial">
                        <h3 class="h5 text-primary mb-4">Olcay Aydın</h3>
                        <div class="rate mb-2">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <blockquote>
                            <p>
                                &ldquo;Taşınma sürecimde Çolakoğlu Emlak'ın yerleşim hizmetlerinden yararlandım ve çok memnun kaldım. Uzman ekibi, ihtiyaçlarımı anlayarak bana en uygun konutu bulmamda büyük destek sağladı.&rdquo;
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>